.login-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 12px;
    justify-content: center;
}

.login-form {
    width: 100%;
    margin-left: 120px;
}

.form-group > input[type="email"],
.form-group > input[type="password"],
.form-group > select {
    width: 70%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button[type="submit"] {
    background-color: #1058C5;
    color: white;
    margin-left: 100px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 25%;
}

body {
    background: linear-gradient(-45deg, #1058C5, #62BBC1) no-repeat;
    background-size: 200% 320%; /* ขยายพื้นที่เพื่อให้ปรับตามขนาดหน้าจอ */
    /* animation: gradientAnimation 10s ease infinite; เพิ่ม animation เพื่อให้สีเคลื่อนไหว */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #62BBC1;
} */

@media screen and (max-width: 600px) {
    .login-container {
        max-width: 100%;
    }
}

.logo {
    width: 50%;
    height: 10%;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    font-size: 1.7rem;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
            url("https://i.pinimg.com/564x/0a/a6/2d/0aa62da5f88a3e591835357f487553f7.jpg");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}