body{
    background-color: #fafafa;
   }
   .content{
      display:flex;
      flex-direction: column;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
      
      
   }
   .headerFamer{
      display: flex;
      justify-content: space-between; 
      flex-direction: row;
      width: 70%;
     
      
   }
    .btn-addBatch{
      margin-top: 20px;
    }