 body{
  background-color: #fafafa;
 }
 .content{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    
    
 }
 .headerFamer{
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    width: 80%;
 }
 .pig-info{
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 1.2rem;
 }
  .btn-addBatch{
    margin-top: 20px;
  }

  .table-pig {
   border-collapse: collapse;
   width: 100%;
   background-color: white;
 }
 
 .table-pig th, .table-pig td {
   border-bottom: 1px solid #ddd;
   padding: 10px;
   text-align: left;
 }
 

 